div#video-feed {
    width: 640px;
    margin: 10px auto;
}

div#image-display {
    width: 640px;
    margin: 10px auto;
}

div.content-main {
    text-align: center;
}

/*Add media queries around this so it resizes when the screen is smaller.*/
form.upload {
    width: 500px;
    margin: 10px auto;
}

div#login {
    text-align: right;
}

form.signin {
    width: 330px;
    margin: 50px auto;
}

/* Same here about the media queries. */
div.wrapper {
    width: 600px;
    margin: auto;
}

form.addreview {
    width: 500px;
}