{% extends 'master.html' %}

{% block body %}
    <div class="dish-view"> 
        <h1>{{ dish.chin_name }}</h1>
        <h2>{{ dish.eng_name }}</h2>
        <h3>{{ dish.pinyin }}</h3>
        <p class="lead">{{ dish.desc }}</p>

        {% for rest_dish in dish.rest_dishes %}
            {% for review in rest_dish.reviews %}
                <h4>{{ review.user.username }} <small>{{ review.date }}</small></h4>
                <h4><a href="/restaurant/{{ review.rest_dish.restaurant.id }}">{{ review.rest_dish.restaurant.name }}</a></h4>
                <p>{{ review.text }}</p>
            {% endfor %}
        {% endfor %}

        {% if authenticate %}
        <form action="/dish/{{ dish.id }}" method="POST" role="form" class="addreview">
            <h3>Add a review</h3>
            <div class="form-group">
                <label for="restaurant">Enter the restaurant name.</label>
                <input type="text" name="restaurant" class="form-control" placeholder="Where did you eat it?">
            </div>
            <div class="form-group">
                <label for="review">Enter your review.</label>
                <textarea class="form-control" name="review" placeholder="How was it?"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Add Review</button>
        </form>
        {% endif %}
    </div>
{% endblock %}