{% extends 'master.html' %}

{% block body %}
    <h1>Chinese Menu Reader</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap" class="btn btn-success">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <h2>Upload a file</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control">
        <button class="btn btn-primary">Send file</button>
    </form>

{% endblock %}