{% extends 'master.html' %}

{% block body %}
    <h1>Chinese Menu Reader</h1>
    <div id="webcam">
        <div id="video-feed" class="hidden">
            <video id="video" width="640" height="480" autoplay></video>
            <button id="snap" class="btn btn-lg btn-block btn-danger">Snap Photo</button>
        </div>
        <div id="image-display" class="hidden">
            <canvas id="canvas" width="640" height="480"></canvas>
            <button id="send" class="btn btn-lg btn-block btn-success">Upload</button>
        </div>
    </div>
    <form role="form" class="inline" action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Upload a file</label>
            <input type="file" name="file" class="form-control">
            <p class="help-block">Choose an image to upload for translation.</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Send file</button>
        </div>
    </form>

{% endblock %}