{% extends 'master.html' %}

{% block body %}
    <div class="content-main">
        <h1 class="big-title">Chinese Menu Reader</h1>
        <p class="lead">A brief description of the app.</p>
        <div id="webcam">
            <div id="video-feed" class="hidden">
                <h3>Take a screenshot using your webcam.</h3>
                <video id="video" width="640" height="480" autoplay></video>
                <button id="snap" class="btn btn-lg btn-block btn-danger">Snap Photo</button>
            </div>
            <div id="image-display" class="hidden">
                <form name="webcam-upload" role="form" class="inline" action="/upload/webcam" method="POST" enctype="multipart/form-data">
                    <canvas id="canvas" width="640" height="480"></canvas>
                    <input type="hidden" id="webcam-file" name="dataURL" class="hidden">
                    <button type="submit" id="send" class="btn btn-lg btn-block btn-success" disabled>Upload</button>
                </form>
            </div>
        </div>
        <h3>Upload a File</h3>
        <p class="helper">Helper text to tell you how to upload your file.</p>
        <form name="file-upload" role="form" class="upload form-inline" action="/upload/file" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file" class="sr-only">Upload a file</label>
                <input type="file" name="file" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default form-control">Send file</button>
            </div>
        </form>
    </div>

{% endblock %}