<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chinese Menu Reader</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div id="login">
            {% if authenticate %}<a href="/logout">Log out</a>{% else %}<a href="/login">Log in</a> | <a href="/signup">Sign up</a>{% endif %}
        </div>
        <div class="container">
            <div id="flashed_messages">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        <script src="/static/js/jquery-2.1.0.js"></script>
        <script src="/static/js/app.js"></script>

    </body>
</html>
