{% extends 'master.html' %}

{% block body %}
    <h1>{{ restaurant.name }}</h1>
    {% for rest_dish in restaurant.rest_dishes %}

        {% for review in rest_dish.reviews %}
            <h2><a href="/dish/{{ rest_dish.dish.id }}">{{ rest_dish.dish.eng_name }}</a><small> {{ rest_dish.dish.chin_name }}</small></h2>
            <h4>{{ review.user.username }} <small>{{ review.date }}</small></h4>
            <p class="lead">{{ review.text }}</p>
        {% endfor %}

    {% endfor %}

{% endblock %}